<section class="container pb-md-6 pt-md-4 py-3" id="contact-heading">
  <div class="row pt-md-4 pb-md-5">
    <div class="col-md-12 align-self-center text-center align-self-center">
      <div class="section-heading l-s-4 text-center pb-2 font-weight-bold">
        CONTACT
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 text-center align-self-center d-none d-md-block">
      <img src="./assets/images/telegram.png" class="curve-design-img third-l" />
    </div>
    <div class="col-md-4">
      <div class="contact-bg-1">
        <div class="small-text">stel een</div>
        <div class="big-text">VRAAG</div>
        <p class="font-weight-lighter text-white">maak een keuze</p>
      </div>
      <div class="text-white text-center contact-bg-1-bottom-text">
        laat je gegevens hier achter
      </div>
    </div>
    <div class="col-md-4 text-center align-self-center d-none d-md-block">
      <img
        src="./assets/images/email.png"
        class="curve-design-img third-r"
        style="width: 100px; height: 100px"
      />
    </div>
  </div>
  <div class="row d-none d-md-block">
    <div class="col-md-6 m-auto text-center">
      <div class="row">
        <div class="col-md-6">
          <img src="./assets/images/whatsapp.png" class="curve-design-img mr-md-4" />
        </div>
        <div class="col-md-6">
          <img src="./assets/images/messenger.png" class="curve-design-img" />
        </div>
      </div>
    </div>
  </div>
  <div class="contact-icon-wrapper-mobile">
    <div class="d-block d-md-none">
      <div class="row">
        <div class="col-6">
          <img
            src="./assets/images/telegram.png"
            class="curve-design-img-mobile float-left ml-2"
          />
        </div>
        <div class="col-6">
          <img
            src="./assets/images/email.png"
            style="width: 68px; height: 64px; position: relative; top: 7px"
            class="curve-design-img-mobile float-right mr-2"
          />
        </div>
      </div>
    </div>
    <div class="d-block d-md-none">
      <div class="row">
        <div class="col-6">
          <img
            src="./assets/images/whatsapp.png"
            class="curve-design-img-mobile float-right mr-2"
          />
        </div>
        <div class="col-6">
          <img
            src="./assets/images/messenger.png"
            class="curve-design-img-mobile float-left ml-2"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-md-5 py-3" id="share-sign-up">
  <div class="container-c">
    <div class="row">
      <div class="col-md-3">
        <div class="section-heading-inner text-center pb-2">
          Ik weet genoeg, ik schrijf me in!
        </div>
        <form class="signup-form m-auto w-85">
          <div class="form-group mb-4">
            <input
              type="text"
              class="form-control form-control-c"
              placeholder="POSTCODE"
            />
          </div>
          <div class="form-group mb-4">
            <input
              type="email"
              class="form-control form-control-c"
              placeholder="email (optioneel)"
            />
          </div>
          <div class="form-group mb-0">
            <button class="btn btn-default btn-yellow btn-block rounded-pill">
              SCHRIJF ME IN
            </button>
          </div>
        </form>
        <br />
        <div class="info-text text-center text-white futura-family">
          iK ben al lid, <a class="link text-white" href="#">aanmelden</a>
        </div>
      </div>
      <div class="col-md-auto m-auto">
        <div class="faq-section">
          <div class="faq-heading">Wat heb ik nodig om me in te schrijven?</div>
          <div class="faq-answers">
            <div class="answer small">- slechts enkele minuten geduld</div>
            <div class="answer small">- je postcode</div>
            <div class="answer small">- een geldig emailadres</div>
          </div>
        </div>
        <div class="question-icon-mobile">
          <img
            src="./assets/images/question-mark.svg"
            class="question-mark-icon d-block d-md-none"
            data-aos="fade-down-right"
          />
        </div>
        <br />
        <br />
        <div class="faq-section d-none d-md-block">
          <div class="faq-heading">FAQ</div>
          <div class="faq-answers">
            <div class="answer">
              - Kan ik mijn contract opzeggen wanneer ik wil?
            </div>
            <div class="answer">
              - kOst het geld als ik mij inschrijf bij jullie?
            </div>
            <div class="answer">
              - Hoe komt het dat jullie geen betaalgegevens vragen?
            </div>
            <div class="answer">- Hoeveel keer kan ik switchen per jaar?</div>
          </div>
        </div>
      </div>
      <div class="col-md-auto">
        <img
          src="./assets/images/question-mark.svg"
          width="230px"
          class="service-icon d-none d-md-block pt-4"
          data-aos="fade-down-right"
        />
      </div>
    </div>
  </div>
</section>
