<section class="container-c pb-md-6 pt-md-5 py-3" id="social-instagram-posts">
  <div class="row">
    <div class="col-md-7">
      <section id="social-images-grid">
        <div class="row">
          <div class="col m-auto">
            <div class="text-center social-down-insta">
              <img
                src="./assets/images/intsgaram.png"
                class="instagram social-page-icons insta-img-mobile shadow-none"
              />
            </div>
          </div>
        </div>
        <section class="instagram-feed-desktop d-md-block d-none">
          <div class="row">
            <div class="col-md-3 column">
              <div class="content">
                <a href="#">
                  <div class="content-overlay"></div>
                  <img
                    class="content-image img-sm"
                    src="./assets/images/images4.jpg"
                  />
                  <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">Geysers Valley</h3>
                  </div>
                </a>
              </div>
              <div class="content content-sm">
                <a href="#">
                  <div class="content-overlay"></div>
                  <img
                    class="content-image img-sm"
                    src="./assets/images/images3.jpg"
                  />
                  <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">Geysers Valley</h3>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-6 column">
              <div class="content">
                <a href="#">
                  <div class="content-overlay"></div>
                  <img
                    class="content-image img-lg"
                    src="./assets/images/images2.jpg"
                  />
                  <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">
                      “Wij gaan voor jou op zoek naar een betere deal!”
                      -beterdeal.be
                    </h3>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-3 column">
              <div class="content">
                <a href="#">
                  <div class="content-overlay"></div>
                  <img
                    class="content-image img-sm"
                    src="./assets/images/images3.jpg"
                  />
                  <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">Geysers Valley</h3>
                  </div>
                </a>
              </div>
              <div class="content">
                <a href="#">
                  <div class="content-overlay"></div>
                  <img
                    class="content-image img-sm"
                    src="./assets/images/images5.jpg"
                  />
                  <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">Waipi’o Valley</h3>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 column">
              <div class="content">
                <a href="#">
                  <div class="content-overlay"></div>
                  <img
                    class="content-image img-sm"
                    src="./assets/images/images4.jpg"
                  />
                  <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">Geysers Valley</h3>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-3 column">
              <div class="content">
                <a href="#">
                  <div class="content-overlay"></div>
                  <img
                    class="content-image img-sm"
                    src="./assets/images/images2.jpg"
                  />
                  <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">
                      “Wij gaan voor jou op zoek naar een betere deal!”
                      -beterdeal.be
                    </h3>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-3 column">
              <div class="content">
                <a href="#">
                  <div class="content-overlay"></div>
                  <img
                    class="content-image img-sm"
                    src="./assets/images/images3.jpg"
                  />
                  <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">Geysers Valley</h3>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-3 column">
              <div class="content">
                <a href="#">
                  <div class="content-overlay"></div>
                  <img
                    class="content-image img-sm"
                    src="./assets/images/images1.jpg"
                  />
                  <div class="content-details fadeIn-bottom">
                    <h3 class="content-title">Geysers Valley</h3>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </section>
        <section class="instagram-feed-mobile d-md-none d-block">
          <div class="row">
            <div class="col-4 mb-4">
              <a href="#">
                <div class="content-overlay"></div>
                <img class="content-image img-sm" src="./assets/images/images4.jpg" />
                <div class="content-details fadeIn-bottom">
                  <h3 class="content-title">Geysers Valley</h3>
                </div>
              </a>
            </div>
            <div class="col-4 mb-4">
              <a href="#">
                <div class="content-overlay"></div>
                <img class="content-image img-sm" src="./assets/images/images3.jpg" />
                <div class="content-details fadeIn-bottom">
                  <h3 class="content-title">Geysers Valley</h3>
                </div>
              </a>
            </div>
            <div class="col-4 mb-4">
              <a href="#">
                <div class="content-overlay"></div>
                <img class="content-image img-lg" src="./assets/images/images2.jpg" />
                <div class="content-details fadeIn-bottom">
                  <h3 class="content-title">
                    “Wij gaan voor jou op zoek naar een betere deal!”
                    -beterdeal.be
                  </h3>
                </div>
              </a>
            </div>
            <div class="col-4 mb-4">
              <a href="#">
                <div class="content-overlay"></div>
                <img class="content-image img-sm" src="./assets/images/images3.jpg" />
                <div class="content-details fadeIn-bottom">
                  <h3 class="content-title">Geysers Valley</h3>
                </div>
              </a>
            </div>
            <!-- Second row -->
            <div class="col-4 mb-4">
              <a href="#">
                <div class="content-overlay"></div>
                <img class="content-image img-sm" src="./assets/images/images5.jpg" />
                <div class="content-details fadeIn-bottom">
                  <h3 class="content-title">Waipi’o Valley</h3>
                </div>
              </a>
            </div>
            <div class="col-4 mb-4">
              <a href="#">
                <div class="content-overlay"></div>
                <img class="content-image img-sm" src="./assets/images/images4.jpg" />
                <div class="content-details fadeIn-bottom">
                  <h3 class="content-title">Waipi’o Valley</h3>
                </div>
              </a>
            </div>
            <div class="col-4 mb-4">
              <a href="#">
                <div class="content-overlay"></div>
                <img class="content-image img-sm" src="./assets/images/images2.jpg" />
                <div class="content-details fadeIn-bottom">
                  <h3 class="content-title">Waipi’o Valley</h3>
                </div>
              </a>
            </div>
            <div class="col-4 mb-4">
              <a href="#">
                <div class="content-overlay"></div>
                <img class="content-image img-sm" src="./assets/images/images3.jpg" />
                <div class="content-details fadeIn-bottom">
                  <h3 class="content-title">Waipi’o Valley</h3>
                </div>
              </a>
            </div>
            <div class="col-4 mb-4">
              <a href="#">
                <div class="content-overlay"></div>
                <img
                  class="content-image img-sm h-100"
                  src="./assets/images/images1.jpg"
                />
                <div class="content-details fadeIn-bottom">
                  <h3 class="content-title">Waipi’o Valley</h3>
                </div>
              </a>
            </div>
          </div>
        </section>
      </section>
    </div>
    <div class="col-md-5 ml-auto align-self-center">
      <div class="row pb-md-5">
        <div
          class="col-md col-12 text-center mb-4 mb-md-0 mt-md-0 mt-4 text-md-right align-self-center"
        >
          <span class="text-social"
            >VOLG on <span class="underline">FACEBOOK</span></span
          >
          <br />
          <img
            src="./assets/images/curve-arrow.svg"
            width="50"
            class="img-fluid curve-arrow-social d-md-inline d-none"
          />
        </div>
        <div class="col-md col-12 text-center">
          <img
            src="./assets/images/curve-arrow.svg"
            width="35"
            class="img-fluid curve-arrow-social d-md-none d-inline-flex mr-3"
          />
          <img src="./assets/images/facebook.png" class="social-page-icons" />
        </div>
      </div>

      <div class="row pt-md-5">
        <div
          class="col-md col-12 text-center mb-4 mb-md-0 mt-md-0 mt-4 text-md-right align-self-center"
        >
          <span class="text-social"
            >VOLG on <span class="underline">TWITTER</span></span
          >
          <br />
          <img
            src="./assets/images/curve-arrow.svg"
            width="50"
            class="img-fluid curve-arrow-social d-md-inline d-none"
          />
        </div>
        <div class="col-md col-12 text-center">
          <img
            src="./assets/images/curve-arrow.svg"
            width="35"
            class="img-fluid curve-arrow-social d-md-none d-inline-flex mr-3"
          />
          <img src="./assets/images/twitter.png" class="social-page-icons" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-md-5 py-3" id="share-sign-up">
  <div class="container-c">
    <div class="row">
      <div class="col-md-3">
        <div class="section-heading-inner text-center pb-2">
          Ik weet genoeg, ik schrijf me in!
        </div>
        <form class="signup-form m-auto w-85">
          <div class="form-group mb-4">
            <input
              type="text"
              class="form-control form-control-c"
              placeholder="POSTCODE"
            />
          </div>
          <div class="form-group mb-4">
            <input
              type="email"
              class="form-control form-control-c"
              placeholder="email (optioneel)"
            />
          </div>
          <div class="form-group mb-0">
            <button class="btn btn-default btn-yellow btn-block rounded-pill">
              SCHRIJF ME IN
            </button>
          </div>
        </form>
        <br />
        <div class="info-text text-center text-white futura-family">
          iK ben al lid, <a class="link text-white" href="#">aanmelden</a>
        </div>
      </div>
      <div class="col-md-auto m-auto">
        <div class="faq-section">
          <div class="faq-heading">Wat heb ik nodig om me in te schrijven?</div>
          <div class="faq-answers">
            <div class="answer small">- slechts enkele minuten geduld</div>
            <div class="answer small">- je postcode</div>
            <div class="answer small">- een geldig emailadres</div>
          </div>
        </div>
        <div class="question-icon-mobile">
          <img
            src="./assets/images/question-mark.svg"
            class="question-mark-icon d-block d-md-none"
            data-aos="fade-down-right"
          />
        </div>
        <br />
        <br />
        <div class="faq-section d-none d-md-block">
          <div class="faq-heading">FAQ</div>
          <div class="faq-answers">
            <div class="answer">
              - Kan ik mijn contract opzeggen wanneer ik wil?
            </div>
            <div class="answer">
              - kOst het geld als ik mij inschrijf bij jullie?
            </div>
            <div class="answer">
              - Hoe komt het dat jullie geen betaalgegevens vragen?
            </div>
            <div class="answer">- Hoeveel keer kan ik switchen per jaar?</div>
          </div>
        </div>
      </div>
      <div class="col-md-auto">
        <img
          src="./assets/images/question-mark.svg"
          width="230px"
          class="service-icon d-none d-md-block pt-4"
          data-aos="fade-down-right"
        />
      </div>
    </div>
  </div>
</section>
