<section class="container pt-md-5 pb-md-5 pt-4 pb-4" id="how-are-we">
  <div class="row">
    <div class="col-md-12">
      <div class="section-heading text-center pb-2">WIe zijn wij?</div>
    </div>
  </div>
  <div class="partners pt-5">
    <div class="row">
      <div class="col-md-10 m-auto p-md-2 p-0">
        <div class="bg-img"></div>
        <div class="we-are-sec">
          <div class="row">
            <div class="col-md-auto col-12">
              <h1 class="we-are">
                WIJ<br />
                ZIJN
              </h1>
            </div>
            <div class="col-md col-12">
              <div class="we-are-text">
                Beter deal is een Belgisch digitaal bedrijf dat de missie heeft
                om in Vlaanderen mensen te helpen op zoek te gaan naar een
                betere energiedeal. Wij hebben een zeer technisch uitgebruid
                team uit het Verenigd koninkrijk van It'ers die het mogelijk
                maken dit te doen. Zo spenderen wij uren aan onderzoekwerk en
                aanpassingen van de technische bodem van ons bedrijf dat u in
                slechts enkele luttele minuten al geld kan besparen via onze
                website. We proberen elk jaar BETER te doen en zullen onze
                klanten dan ook de mogelijkheid geven dit elk jaar te kunnen
                herzien.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="container-c pt-md-5 pb-md-6 pt-4 pb-4 we-are-sec-after-sec"
  id="how-are-we"
>
  <div class="row">
    <div class="col-md-6">
      <div class="img-wrap" style="position: relative; bottom: 60px">
        <img
          src="./assets/images/blog.png"
          class="blog-radius-img img-fluid rounded-circle shadow-sm"
        />
      </div>
    </div>
    <div class="col-md-6 align-self-center">
      <div class="section-heading-inner-text text-center pb-2">
        WIJ ZIJN DE OPLOSSING VOOR UW TE HOGE ENERGIE FACTUUR. LAAT ONS
        KENNISMAKEN MET U EN U ELK JAAR WEER BESPAREN. hET IS BEWEZEN DAT bELGEN
        TE VEEL BETALEN VOOR ENERGIE8
      </div>
    </div>
  </div>
</section>

<section class="py-md-5 py-3" id="share-sign-up">
  <div class="container-c">
    <div class="row">
      <div class="col-md-3">
        <div class="section-heading-inner text-center pb-2">
          Ik weet genoeg, ik schrijf me in!
        </div>
        <form class="signup-form m-auto w-85">
          <div class="form-group mb-4">
            <input
              type="text"
              class="form-control form-control-c"
              placeholder="POSTCODE"
            />
          </div>
          <div class="form-group mb-4">
            <input
              type="email"
              class="form-control form-control-c"
              placeholder="email (optioneel)"
            />
          </div>
          <div class="form-group mb-0">
            <button class="btn btn-default btn-yellow btn-block rounded-pill">
              SCHRIJF ME IN
            </button>
          </div>
        </form>
        <br />
        <div class="info-text text-center text-white futura-family">
          iK ben al lid, <a class="link text-white" href="#">aanmelden</a>
        </div>
      </div>
      <div class="col-md-auto m-auto">
        <div class="faq-section">
          <div class="faq-heading">Wat heb ik nodig om me in te schrijven?</div>
          <div class="faq-answers">
            <div class="answer small">- slechts enkele minuten geduld</div>
            <div class="answer small">- je postcode</div>
            <div class="answer small">- een geldig emailadres</div>
          </div>
        </div>
        <div class="question-icon-mobile">
          <img
            src="./assets/images/question-mark.svg"
            class="question-mark-icon d-block d-md-none"
            data-aos="fade-down-right"
          />
        </div>
        <br />
        <br />
        <div class="faq-section d-none d-md-block">
          <div class="faq-heading">FAQ</div>
          <div class="faq-answers">
            <div class="answer">
              - Kan ik mijn contract opzeggen wanneer ik wil?
            </div>
            <div class="answer">
              - kOst het geld als ik mij inschrijf bij jullie?
            </div>
            <div class="answer">
              - Hoe komt het dat jullie geen betaalgegevens vragen?
            </div>
            <div class="answer">- Hoeveel keer kan ik switchen per jaar?</div>
          </div>
        </div>
      </div>
      <div class="col-md-auto">
        <img
          src="./assets/images/question-mark.svg"
          width="230px"
          class="service-icon d-none d-md-block pt-4"
          data-aos="fade-down-right"
        />
      </div>
    </div>
  </div>
</section>
