<footer class="container pt-5 pb-4">
  <div class="row">
    <div class="col-md-12">
      <div class="footer-contact-details">
        Email ons:
        <a
          href="mailto:info@mysite.com"
          target="_self"
          class="text-white"
          data-content="info@mysite.com"
          data-type="mail"
          >info@beterdeal.be</a
        >&nbsp; &nbsp;|
        &nbsp; &nbsp;Bredabaan 934, 2930 Brasschaat
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-auto m-auto">
      <div class="row">
        <div class="col-md-auto">
          <div class="footer-logo-text">BETER DEAL</div>
        </div>
        <div class="col-md-auto text-center">
          <a href="#" class="text-white fz-10">privacy verklaring</a>
        </div>
        <div class="col-md-auto">
          <ul class="social-list">
            <li class="social-item">
              <div class="icon bg-white">
                <i class="fa fa-instagram text-dark-green"></i>
              </div>
            </li>
            <li class="social-item">
              <div class="icon"><i class="fa fa-twitter text-white"></i></div>
            </li>
            <li class="social-item">
              <div class="icon"><i class="fa fa-facebook text-white"></i></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
